<div class="mt-lg mb-lg sm:mt-sm sm:mb-sm">
    <h1 class="h1 m-n">
        {{ taxon.name }}
    </h1>
    <p class="mt-xs mb-n color-gray sm:text-xs">
        {{ taxon.description }}
    </p>
</div>
