//
// Typography
// -----------------------------------------------------------------------------

// Font weights
// -----------------------------------------------------------------------------

$font-weight-map: (
  '300': 300,
  '400': 400,
  '600': 600,
  '700': 700,
);

// Font sizes
// -----------------------------------------------------------------------------

$font-size-map: (
  'xxs': 1.2rem,
  'xs': 1.4rem,
  'sm': 1.6rem,
  'md': 1.8rem,
  'lg': 2rem,
  'xl': 2.2rem,
  '2xl': 2.4rem,
  '3xl': 2.6rem,
  '4xl': 2.8rem,
  '5xl': 3rem,
  '6xl': 3.2rem,
  '7xl': 4rem,
  '8xl': 5rem,
);

// Font families
// -----------------------------------------------------------------------------

$font-family-map: (
  'base': ('Source Sans Pro', system-ui, sans-serif),
  'heading': ('Spectral', serif),
);

// Line height
// -----------------------------------------------------------------------------

$line-height-map: (
  'baseline': 1,
  'tighter': 1.1,
  'tight': 1.25,
  'spaced': 1.5,
);
