<div class="logo">
    <a href="{{ path('sylius_shop_homepage') }}">
        <img src="{{ asset('build/themes/thebeerfactory/images/logo.svg', 'thebeerfactory-theme') }}" alt="{{ sylius.channel.name }}" />
    </a>
</div>
