//
// Carousel
// --------------------------------------------------------------------------

.carousel {
  margin: 0 -#{spacer('xs')};
}

@media (min-width: bp('md-min')) {
  .carousel {
    margin: 0 -#{spacer('sm')};
  }
}

// Wrapper
// --------------------------------------------------------------------------

.carousel-wrapper {
  position: relative;
}

// Item
// --------------------------------------------------------------------------

.carousel-item {
  padding: spacer('xxs') spacer('xs') spacer('xs');

  &,
  & > * {
    height: 100%;
  }
}

@media (min-width: bp('md-min')) {
  .carousel-item {
    padding-right: spacer('sm');
    padding-left: spacer('sm');
  }
}

// Navigation
// --------------------------------------------------------------------------

.carousel-left,
.carousel-right {
  @extend %btn-unstyled;

  position: absolute;
  top: calc(50% - (4rem / 2));
  width: 4rem;
  height: 4rem;
  color: color('white');
  background-color: color('gray-dark');
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='hsl(0, 0%25, 100%25)' d='M11.25 1.13l.14-.15a1.64 1.64 0 012.16-.14l.15.14 9.82 9.82.13.14.07.1.08.12.09.19.05.17.04.2.02.14V12.15l-.04.19-.06.17-.05.14-.1.18-.1.15-.13.13-9.82 9.82a1.64 1.64 0 01-2.45-2.16l.14-.15 7.02-7.03H1.64C.8 13.6.1 12.96 0 12.15l-.01-.2c0-.83.63-1.53 1.45-1.62l.19-.01H18.4L11.4 3.29a1.64 1.64 0 01-.14-2.16l.14-.15-.14.15z'/%3E%3C/svg%3E");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 1.6rem auto;
  border-radius: radius('sm');
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: color('gray');
  }
}

.carousel-left {
  left: spacer('xs');
  transform: rotate(180deg);
}

.carousel-right {
  right: spacer('xs');
}

@media (min-width: bp('md-min')) {
  .carousel-left,
  .carousel-right {
    top: calc(50% - (5rem / 2));
    width: 5rem;
    height: 5rem;
    background-size: 2.2rem auto;
  }

  .carousel-left {
    left: spacer('md');
  }

  .carousel-right {
    right: spacer('md');
  }
}

// Slick slider
// --------------------------------------------------------------------------

.slick-slider {
  position: relative;
  display: block;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  transition: height .1s ease-in-out;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0,0,0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: flex;

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  display: none;
  min-height: 1px;

  > div:not([class]) {
    height: 100%;
  }

  &.slick-loading img {
    display: none;
  }

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
