//
// Rating
// --------------------------------------------------------------------------

.rating {
  display: flex;
  flex: 0 0 auto;

  .icon {
    display: block;
    width: 1.9rem;
    height: 2.2rem;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='hsl(0, 0%25, 81%25)' d='M8.41 8.07l2.92-5.9a.75.75 0 011.34 0l2.92 5.9L22.1 9c.61.1.86.85.41 1.28l-4.71 4.6 1.11 6.48a.75.75 0 01-1.09.8L12 19.1l-5.83 3.06a.75.75 0 01-1.09-.79l1.11-6.48-4.71-4.6a.75.75 0 01.41-1.28l6.52-.94zM12 4.2L9.58 9.09a.75.75 0 01-.56.4l-5.4.79 3.9 3.8c.18.18.26.43.22.67l-.92 5.38 4.83-2.54a.75.75 0 01.7 0l4.83 2.54-.92-5.38a.75.75 0 01.21-.66l3.91-3.81-5.4-.78a.75.75 0 01-.56-.41L12 4.19z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 1.7rem auto;
    cursor: pointer;

    &.active {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='hsl(47, 100%25, 65%25)' d='M8.41 8.07l2.92-5.9a.75.75 0 011.34 0l2.92 5.9L22.1 9c.61.1.86.85.41 1.28l-4.71 4.6 1.11 6.48a.75.75 0 01-1.09.8L12 19.1l-5.83 3.06a.75.75 0 01-1.09-.79l1.11-6.48-4.71-4.6a.75.75 0 01.41-1.28l6.52-.94z'/%3E%3Cpath fill='hsl(53, 100%25, 57%25)' d='M12 4.2L9.58 9.09a.75.75 0 01-.56.4l-5.4.79 3.9 3.8c.18.18.26.43.22.67l-.92 5.38 4.83-2.54a.75.75 0 01.7 0l4.83 2.54-.92-5.38a.75.75 0 01.21-.66l3.91-3.81-5.4-.78a.75.75 0 01-.56-.41L12 4.19z'/%3E%3C/svg%3E");
    }

    &.selected {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='hsl(40, 100%25, 68%25)' d='M8.41 8.07l2.92-5.9a.75.75 0 011.34 0l2.92 5.9L22.1 9c.61.1.86.85.41 1.28l-4.71 4.6 1.11 6.48a.75.75 0 01-1.09.8L12 19.1l-5.83 3.06a.75.75 0 01-1.09-.79l1.11-6.48-4.71-4.6a.75.75 0 01.41-1.28l6.52-.94z'/%3E%3Cpath fill='hsl(47, 100%25, 65%25)' d='M12 4.2L9.58 9.09a.75.75 0 01-.56.4l-5.4.79 3.9 3.8c.18.18.26.43.22.67l-.92 5.38 4.83-2.54a.75.75 0 01.7 0l4.83 2.54-.92-5.38a.75.75 0 01.21-.66l3.91-3.81-5.4-.78a.75.75 0 01-.56-.41L12 4.19z'/%3E%3C/svg%3E");
    }
  }
}

// Large variant
// --------------------------------------------------------------------------

.rating--lg {
  .icon {
    width: 2.2rem;
    height: 2.2rem;
    background-size: 2rem auto;
  }
}
