//
// Footer
// -----------------------------------------------------------------------------

.footer {
  position: relative;
  margin: spacer('2xl') 0 0;
  padding: spacer('lg') 0 spacer('xl');
  color: color('white');
  background: color('gray-dark');

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    width: 100vw;
    height: 100%;
    background: color('gray-dark');
    transform: translateX(-50%);
    content: '';
  }
}

@media (min-width: bp('lg-min')) {
  .footer {
    margin: spacer('6xl') 0 0;
  }
}

// Logo
// -----------------------------------------------------------------------------

.footer__logo {
  max-width: 20rem;
  filter: brightness(0) invert(1);
}
