<div class="box pt-2xl pb-2xl bg-white-dimmed sm:pt-md sm:pb-md">
    <div class="w-1/2 mr-auto mb-md ml-auto md:w-4/5 sm:w-full">
        <h2 class="h2 mt-n mb-md text-center sm:mb-sm">
            {{ 'sylius.homepage.about_us'|trans }}
        </h2>
        <p class="m-n sm:text-xs">
            {{ 'sylius.homepage.about_us_content'|trans|raw }}
        </p>
    </div>
</div>
