<div class="mt-lg mb-lg sm:mb-sm">
    <h1 class="h1 mt-n mb-xs">
        {{ 'sylius.ui.customer_login'|trans }}
    </h1>
    <p class="m-n">{{ 'sylius.ui.access_your_store_account_or_create_a_new_one'|trans }}</p>
</div>
