<h2 class="h3 mt-n mb-lg sm:mb-sm">{{ 'sylius.ui.new_customers'|trans }}</h2>
<a class="btn btn--reversed sm:w-full" href="{{ path('sylius_shop_register') }}">
    {{ 'sylius.ui.create_an_account'|trans }}
</a>
