<div class="ui card">
    <div class="content">
        <div class="header">
            {{ book.title }}
        </div>
        <div class="meta">
            {{ book.description | monsieurbiz_richeditor_render_field }}
        </div>
    </div>
    <div class="extra content">
        {{ 'sylius.ui.created_at' | trans }} : {{ book.createdAt | format_datetime() }}
    </div>
</div>
