<div class="card">
    <div class="content">
        <div class="header">
            {{ author.firstname }} {{ author.lastname }}
        </div>
        <div class="meta">
            {{ 'app.ui.author' | trans }}
        </div>
    </div>
    <div class="extra content">
        <div class="ui basic button">Voir</div>
    </div>
</div>
