<div class="card">
    <div class="content">
        <div class="header">
            {{ author.firstname }} {{ author.lastname }}
        </div>
        <div class="meta">
            {{ 'app.ui.author' | trans }}
        </div>
    </div>
    <div class="extra content">
        <a href="{{ path('app_front_author_show', {id: author.id}) }}" class="ui basic button">Voir</a>
    </div>
</div>
